.App {
    min-height: 100vh;
    background-color: #e8e8e8;
    display: flex;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    /* justify-content: center; */
    /* align-items: center; */
}
